/**
 * Icon button component
 *
 * Custom properties:
 *  --IconButton-color: Modify text color of button;
 */

@import "niduscss-libs-mixins";

/**
 * 1. Prevent button text from being selectable.
 */

.IconButton {
  /* Box-model */
  margin: 0;
  padding: 0;
  width: 2.25rem;
  height: 2.25rem;

  /* Tipography */
  text-align: center;

  /* Visual */
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;

  /* Misc */
  user-select: none; /* 1 */

  /* Remove outline */
  @mixin removeOutline;

  /* Disabled button */
  &--disabled,
  &:disabled {
    opacity: 0.5;
    background-color: #fafafa;
    color: #000;
    cursor: default;
  }
}
