/** Vertical align utilies */

/**
 * INLINE VERTICAL CENTERING
 * Common use in navigation links with icons.
 */

.u-alignContainer {
  /* Tipography */
  font-size: 0;

  /**
   * May want to do this if there is risk the container may be narrower than
   * the element inside
   */
  white-space: nowrap;
}

/* The ghost, nudged to maintain perfect centering */

.u-alignContainer::before {
  /* Box-model */
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* The element to be centered, can also be of any width and height */

.u-alignItem--centered {
  /* Box-model */
  display: inline-block;
  vertical-align: middle;
}