/** Table component */

:root {
  --Table-borderBottom: 0.0625rem solid rgba(0, 0, 0, 0.25);
}

.Table {
  /* Visual */
  background-color: #fff;

  table {
    /* Box-model */
    width: 100%;

    /* Visual */
    border-collapse: collapse;
  }

  thead tr {
    /* Box-model */
    height: 3.5rem;

    /* Typography */
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.75rem;
    font-weight: normal;
  }

  tbody tr {
    /* Box-model */
    height: 3rem;

    /* Typography */
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.8125rem;
  }

  /* Add border to rows */
  thead tr,
  tbody tr {
    /* Visual */
    border-bottom: var(--Table-borderBottom);

    /* Typography */
    text-align: right;
  }

  thead th,
  tbody td {
    /* Box-model */
    padding: 0 0 0 3.5rem;

    &:first-child {
      /* Box-model */
      padding-left: 1.5rem;

      /* Typography */
      text-align: left;
    }

    &:nth-child(2) {
      /* Box-model */
      padding-left: 1.5rem;
    }

    &:nth-last-child(1) {
      /* Box-model */
      padding-right: 1.5rem;
    }
  }
}

.Table-header {
  /* Box-model */
  display: flex;
  align-items: center;
  padding: 0 0.875rem 0 1.5rem;
  height: 4rem;
}

.Table-title {
  /* Typography */
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.25rem;
  font-weight: normal;
}

.Table-content {
  /* Box-model */
  overflow-x: auto;
}

.Table-footer {
  /* Box-model */
  display: flex;
  align-items: center;
  padding: 0 0.875rem 0 1.5rem;
  height: 3.5rem;

  /* Typography */
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.75rem;
  font-weight: normal;
}

.Table-icon {
  /* Box-model */
  width: 1.5rem;

  /* Typography */
  color: rgba(0, 0, 0, 0.54);

  /* Color for svg icons */
  svg& {
    /* Visual */
    fill: rgba(0, 0, 0, 0.54);
  }
}
