/**
 * Button component
 * Use this classes in elements like links, buttons or divs.
 *
 * Custom properties:
 *  --Button-background: Modify background color property.
 *  --Button-color: Modify text color of button;
 *  --Button-font-size: Mofify font-size property;
 *  --Button-borderRadius: Modify the border radius.
 *  --Button-fs-xsmall: text size for xsmall buttons;
 *  --Button-fs-small: text size for small buttons;
 *  --Button-fs-huge: text size for huge buttons;
 *  --Button-fs-extreme: text size for extreme buttons;
 */

@import "niduscss-libs-mixins";
@import "niduscss-utils-mixins";

:root {
  --Button-backgroundColor: var(--Button-background, #c0c0c0);
  --Button-fontColor-df: #262626;
  --Button-fontSize-df: 1rem;
}

@define-mixin alignItem {
  /* Box-model */
  display: inline-block;

  /* Typography */
  vertical-align: middle;
}

/**
 * The main class to define a button.
 * 1. Prevent button text from being selectable.
 */

.Button {
  /* Box-model */
  display: inline-block;
  margin: 0;
  padding: 0 1rem;
  line-height: 2.25;

  /* Typography */
  color: var(--Button-color, var(--Button-fontColor-df));
  font-size: var(--Button-font-size, var(--Button-fontSize-df));
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;

  /* Visual */
  background-color: var(--Button-backgroundColor);
  border: none;
  cursor: pointer;
  border-radius: var(--Button-borderRadius, 0);

  /* Misc */
  user-select: none; /* 1 */
  transition: all 0.5s ease;

  /* Remove outline */
  @mixin removeOutline;

  /* Styles if button is a link element */
  a& {
    /* Visual */
    background-color: rgba(0, 0, 0, 0);

    /* Homogenize */
    @mixin homogenizeLink;
  }

  /* Disabled button */
  &--disabled,
  &:disabled {
    opacity: 0.5;
    background-color: #fafafa;
    color: #000;
    cursor: default;
  }
}

/**
 * Button containing multiple elements aligned vertically
 */
.Button--combined {
  /* Icon color */
  .Button-icon {
    /* Visual */
    fill: var(--Button-color, var(--Button-fontColor-df));
  }

  /* Vertical align */
  @mixin u-alignContainer;

  /* Import the vertical centering ghost mixin */
  &::before {
    @mixin u-alignGhost;
  }

  /* Icon element */
  .Button-icon {
    /* Align item */
    @mixin alignItem;
  }

  /* Label element */
  .Button-label {
    /* Typography */
    font-size: var(--Button-font-size, var(--Button-fontSize-df));

    /* Align item */
    @mixin alignItem;
  }
}

/**
 * Buttons by size.
 */

.Button--mini {
  font-size: var(--Button-fs-xsmall, 0.75rem);
}

.Button--small {
  font-size: var(--Button-fs-small, 0.875rem);
}

.Button--huge {
  font-size: var(--Button-fs-huge, 2.125rem);
}

.Button--extreme {
  font-size: var(--Button-fs-extreme, 3.5rem);
}
