# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
tmp
dist

# dependencies
node_modules

# IDEs and editors

# misc
typings
npm-debug.log
npm-debug.log.*
webpack-stats.json

# System Files
.DS_Store
Thumbs.db