/**
 * Styles for group of buttons
 *
 * Custom properties:
 * --u-Buttons-fs-medium: Modify font-size property.
 */

/**
 * Group with text label and buttons
 */

.u-labelButtonGroup {
  /* Box-model */
  display: flex;
  align-items: center;

  /* Label inside of u-labelButtonGroup */
  &-label {
    margin: 0;
  }

  /** Buttons inside of u-labelButtonsGroup */
  &-btn {
    /* Tipography */
    font-size: var(--u-Buttons-fs-medium, 1.25rem);
    color: #8f8f8f;
  }
}