/**
 * Colors classes to modify background and color text
 *
 * Custom properties:
 * --App-primary-df:
 * --App-primary-h1:
 * --App-primary-h2:
 * --App-primary-h3:
 * --App-accent-df:
 * --App-accent-h1:
 * --App-accent-h2:
 * --App-accent-h3:
 * --App-warn-df:
 * --App-warn-h1:
 * --App-warn-h2:
 * --App-warn-h3:
 */

/* Primary colors
   ========================================================================== */

/**
 * Primary colors classes to modify background-color property
 */

.u-primaryBackground-df {
  background-color: var(--App-primary-df, #3f51b5) !important;
}

.u-primaryBackground-h1 {
  background-color: var(--App-primary-h1, #7986cb) !important;
}

.u-primaryBackground-h2 {
  background-color: var(--App-primary-h2, #283593) !important;
}

.u-primaryBackground-h3 {
  background-color: var(--App-primary-h3, #e8eaf6) !important;
}

/**
 * Primary colors classes to modify color property
 */

.u-primaryColor-df {
  color: var(--App-primary-df, #3f51b5) !important;
}

.u-primaryColor-h1 {
  color: var(--App-primary-h1, #7986cb) !important;
}

.u-primaryColor-h2 {
  color: var(--App-primary-h2, #283593) !important;
}

.u-primaryColor-h3 {
  color: var(--App-primary-h3, #e8eaf6) !important;
}

/* Accent colors
   ========================================================================== */

/**
 * Accent colors classes to modify background-color property
 */

.u-accentBackground-df {
  background-color: var(--App-accent-df, #ff3d00) !important;
}

.u-accentBackground-h1 {
  background-color: var(--App-accent-h1, #ff9e80) !important;
}

.u-accentBackground-h2 {
  background-color: var(--App-accent-h2, #ff6e40) !important;
}

.u-accentBackground-h3 {
  background-color: var(--App-accent-h3, #dd2c00) !important;
}

/**
 * Accent colors classes to modify color property
 */

.u-accentColor-df {
  color: var(--App-accent-df, #ff3d00) !important;
}

.u-accentColor-h1 {
  color: var(--App-accent-h1, #ff9e80) !important;
}

.u-accentColor-h2 {
  color: var(--App-accent-h2, #ff6e40) !important;
}

.u-accentColor-h3 {
  color: var(--App-accent-h3, #dd2c00) !important;
}

/* Warn colors
   ========================================================================== */

/**
 * Warn colors classes to modify background-color property
 */

.u-warnBackground-df {
  background-color: var(--App-warn-df, #f44336) !important;
}

.u-warnBackground-h1 {
  background-color: var(--App-warn-h1, #e57373) !important;
}

.u-warnBackground-h2 {
  background-color: var(--App-warn-h2, #c62828) !important;
}

.u-warnBackground-h3 {
  background-color: var(--App-warn-h3, #ff8a80) !important;
}

/**
 * Warn colors classes to modify color property
 */

.u-warnColor-df {
  color: var(--App-warn-df, #f44336) !important;
}

.u-warnColor-h1 {
  color: var(--App-warn-h1, #e57373) !important;
}

.u-warnColor-h2 {
  color: var(--App-warn-h2, #c62828) !important;
}

.u-warnColor-h3 {
  color: var(--App-warn-h3, #ff8a80) !important;
}