/** Vertical align mixins */

/* The ghost */

@define-mixin u-alignGhost {
  /* Box-model */
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* This parent can be any width and height */

@define-mixin u-alignContainer {
  /* Tipography */
  font-size: 0;

  /**
   * May want to do this if there is risk the container may be narrower than
   * the element inside
   */
  white-space: nowrap;
}