/**
 * Icon button component
 *
 * Custom properties:
 *  --IconButton-color: Modify text color of button;
 */

/**
 * 1. Prevent button text from being selectable.
 */

.IconButton {
  /* Box-model */
  margin: 0;
  padding: 0;
  width: 3rem;
  line-height: 1;

  /* Tipography */
  font-size: 1.5rem;
  text-align: center;

  /* Visual */
  background-color: transparent;
  cursor: pointer;
  border: none;

  /* Misc */
  user-select: none; /* 1 */

  &:hover {
    text-decoration: none;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &:visited {
    color: var(--IconButton-color, #fff);
  }
}