/** Utilities to implement flexboxx */

/* Flexbox container */

.Flex {
  display: flex;

  /* Column direction */
  &--colum {
    display: flex;
    flex-direction: column;
  }
}

/* Flexbos items */

.Flex-item--10 {
  flex: 1 1 10%;
  max-width: 10%;
}

.Flex-item--20 {
  flex: 1 1 20%;
  max-width: 20%;
}

.Flex-item--30 {
  flex: 1 1 30%;
  max-width: 30%;
}

.Flex-item--40 {
  flex: 1 1 40%;
  max-width: 40%;
}

.Flex-item--50 {
  flex: 1 1 50%;
  max-width: 50%;
}

.Flex-item--60 {
  flex: 1 1 60%;
  max-width: 60%;
}

.Flex-item--70 {
  flex: 1 1 70%;
  max-width: 70%;
}

.Flex-item--80 {
  flex: 1 1 80%;
  max-width: 80%;
}

.Flex-item--90 {
  flex: 1 1 90%;
  max-width: 90%;
}