/** utility to implement shadows */

/** Top shadow */

.u-shadowTop {
  box-shadow: 0 -0.25rem 0.25rem -0.25rem rgba(0, 0, 0, 0.5);
}

/** Right shadow */

.u-shadowRight {
  box-shadow: 0.25rem 0 0.25rem -0.25rem rgba(0, 0, 0, 0.5);
}

/** Bottom shadow */

.u-shadowBotton {
  box-shadow: 0 0.25rem 0.25rem -0.25rem rgba(0, 0, 0, 0.5);
}

/** Left shadow */

.u-shadowLeft {
  box-shadow: -0.25rem 0 0.25rem -0.25rem rgba(0, 0, 0, 0.5);
}

/** Shadow frame level 1 */

.u-shadowFrame-1 {
  box-shadow: 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.2), 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.14), 0 0.125rem 0.0625rem -0.0625rem rgba(0, 0, 0, 0.12);
}

/** Shadow frame level 2 */

.u-shadowFrame-2 {
  box-shadow: 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.2), 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.14), 0 0.1875rem 0.0625rem -0.125rem rgba(0, 0, 0, 0.12);
}

/** Shadow frame level 3 */

.u-shadowFrame-3 {
  box-shadow: 0 0.0625rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.1875rem 0.25rem 0 rgba(0, 0, 0, 0.14), 0 0.1875rem 0.1875rem -0.125rem rgba(0, 0, 0, 0.12);
}

/** Shadow frame level 4 */

.u-shadowFrame-4 {
  box-shadow: 0 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.2), 0 0.25rem 0.3125rem 0 rgba(0, 0, 0, 0.14), 0 0.0625rem 0.625rem 0 rgba(0, 0, 0, 0.12);
}

/** Shadow frame level 5 */

.u-shadowFrame-5 {
  box-shadow: 0 0.1875rem 0.3125rem -0.0625rem rgba(0, 0, 0, 0.2), 0 0.3125rem 0.5rem 0 rgba(0, 0, 0, 0.14), 0 0.0625rem 0.875rem 0 rgba(0, 0, 0, 0.12);
}

/** Shadow frame level 6 */

.u-shadowFrame-6 {
  box-shadow: 0 0.1875rem 0.3125rem -0.0625rem rgba(0, 0, 0, 0.2), 0 0.375rem 0.625rem 0 rgba(0, 0, 0, 0.14), 0 0.0625rem 1.125rem 0 rgba(0, 0, 0, 0.12);
}