/**
 * Classes that represent a state for a element
 */

/**
 * Add cursor pointer to element
 */

.is-clickable {
  cursor: pointer;
}

/**
 * Hide the element.
 */

.is-hidden {
  display: none !important;
}

/**
 * Block scroll when open dialog box or have this hook.
 */

.is-not-scrolling {
  overflow: hidden;
}